<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>BookIssued</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
  <link href="https://fonts.googleapis.com/css2?family=Assistant&family=Oxygen&family=Raleway&display=swap"
    rel="stylesheet">
  <style type="text/css">
    .hero-body {
      margin-top: 5%;
    }

    .title {
      font-family: 'Raleway', sans-serif;
      font-weight: bold;
      font-size: 3rem;
      text-align: center;
    }

    h2 {
      font-family: 'Oxygen', sans-serif;
      font-size: 2rem;
    }

    form {
      font-family: 'Assistant', sans-serif;
    }

    #go {
      font-family: 'Oxygen', sans-serif;
      font-size: 1rem;

    }
  </style>

</head>

<body>
  {% include "navbaradmin.html" %}
  <section class="hero is-primary is-bold is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Book Issued Successfully !
        </h1>
      </div>
    </div>
  </section>
  <section class="hero is-light is-bold is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container  d-flex justify-content-center">
        <div class="options" style="text-align:center">
          <a href="issuebook" class="button is-primary is-hovered is-medium is-focused" role="button" aria-pressed="true">Click here to issue more Book</a><br><br>
        
        <a href="viewissuedbook" class="button is-primary is-hovered is-medium is-focused" role="button" aria-pressed="true">Click here to view Issued Book</a><br><br>
        </div>
        </div>
      </div>
  </section>
{% include "footer.html" %}
  </body>
</html>
