<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
  <link href="https://fonts.googleapis.com/css2?family=Muli:ital@1&family=Roboto&display=swap" rel="stylesheet">


  <title>Contact US</title>
  <style type="text/css">
  .title {
      font-family: 'Roboto', sans-serif;
      font-size: 4rem;
      font-weight: bolder;
    }

  
  </style>


</head>

<body>

  {% include "navbar.html" %}
  <section class="hero is-dark is-bold is-fullheight-with-navbar ">
    <div class="hero-body">
      <div class="container text-center">
        <h1 class="title">Contact US</h1>
      </div>
    </div>
  </section>
  <section class="hero is-light is-bold is-fullheight-with-navbar ">
    <div class="hero-body ">
      <h3 class='alert alert-success'>Send Us Your Valuable Feedback !</h3>
      <div class="container mt-0 text-center">
        <form method="POST">
          <!-- Very Important csrf Token -->
          {% csrf_token %}
          <div class="form-group">
            <p>
            <h3>{{ form.as_p }}</h3>
            </p>
            <br>
            <input type="submit" value="Send Message" class='button is-dark is-hovered is-medium is-focused'>
          </div>
        </form>
      </div>
    </div>
  </section>
  {% include "footer.html" %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>