<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Add Book To Library</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
  <link href="https://fonts.googleapis.com/css2?family=Assistant&family=Oxygen&family=Raleway&display=swap"
    rel="stylesheet">
  <style media="screen">
    .title {
      font-family: 'Raleway', sans-serif;
      font-weight: bold;
      font-size: 3rem;
      text-align: center;
    }
    
  </style>
</head>

<body>
  {% include "navbaradmin.html" %}
  <br>
  <br>
  <section class="hero is-primary is-bold is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Available Book in Library !
        </h1>
      </div>
    </div>
  </section>
  <section class="hero is-light is-bold is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container  d-flex justify-content-center">
        {% if books%}
        <table class="table table-bordered table-dark  table-hover">
          <thead>
            <tr class="bg-light">
              <th>Book Name</th>
              <th>ISBN</th>
              <th>Author</th>
              <th>Category</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <td colspan="4" rowspan="4">
                <div class="links"></div>
              </td>
            </tr>
          </tfoot>
          <tbody>
            {% for book in books %}
            <tr>
              <td>{{book.name}}</td>
              <td>{{book.isbn}}</td>
              <td>{{book.author}}</td>
              <td>{{book.category}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {%else%}
        <h1>Have 0 book</h1>
        {%endif%}
      </div>
    </div>
  </section>



  {% include "footer.html" %}
</body>

</html>